@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,700'); 

html, body {
    height: 100%; 
}

body {
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    h1 {
        font-family: 'Lato', sans-serif;
        font-weight: 700;
    }
    
    p {
        font-family: 'Open Sans', sans-serif;
    }
}

.container-fluid {
    height: 100%; 
    padding: 0;
    
    nav {
        
        div {
            a {
                margin-right: 2rem;
                color: grey;
                font-family: 'Open Sans', sans-serif;
                font-weight: 400;
                &:hover {
                    font-weight: 700;
                    text-decoration: none;
                }
                
                
            }
            
            li {
                height: 2.5rem;
            }
            
            .active {
                    text-decoration: underline;
                    color: black;
                    font-weight: 700;
                }
        }
        
        img {
            height: 65px;
            width: auto;
        }
        
        .social {
            width: 25px;
            height: 25px;
        }
        
    }
    
    .presentation {
        width: 100%;
        margin: auto;
        background-color: bisque;
        position: relative;
        
        .white {
            position: absolute;
            border: 10px solid white;
            height: 100%;
            width: 100%;
        }
        
        .container-photo{
            display: flex;
            justify-content: center;
            align-items: center;
            
            .content-photo {
            height: 80%;
            margin-bottom: 3rem;
            
                #photoofme {
                    height: 400px;
                }
            }
        }
        
        
        .text-presentation {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    
    .projects-preview {
        .project {
            height: 60%;
            transform-style: preserve-3d;
            
            .project-title {
                position: absolute;
                bottom: 0;
                margin: 0;
                padding: 0.3rem 0.3rem 0.3rem 0.3rem;
                font-size: 1.3rem;
            }
            .block-title {
                position: absolute;
                bottom: 0;
                background-color: rgba(255, 255, 255, 0.5);
                width: 100%;
                height: 13%;
                margin: 0;
            }
        }
    }
    
    #menu {
        display: none;
    }
    
    // WORK PAGES
    .img-top {
        background-color: aquamarine;
        height: 60%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
