html, body {
    height: 100%; 
}

.container-fluid {
    height: 100%; 
    
    .projects-preview {
    height: 100%;
        
        .project {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            transform-style: preserve-3d;
            
            .project-content {
                height: 40%;
                width: 50%;
                background-color: aqua;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: translateZ(20px);
            }
        }
    }    
}
