html, body {
    height: 100%; 
}

body {
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
}

.container-fluid {
    height: 100%; 
    
    nav {
        margin: 2% auto;
        display: flex;
        justify-content: space-around;
        width: 60%;
        
        img {
            height: 70px;
            width: auto;
        }
        
    }
    
    .projects-preview {
    height: 100%;
        
        .project {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            transform-style: preserve-3d;
            
            .project-content {
                height: 40%;
                width: 50%;
                background-color: aqua;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                transform: translateZ(20px);
            }
        }
    }
    
    #menu {
        position: fixed;
        right: 0;
        top: 50%;
        bottom: 50%;
        
        .list-group-item {
            background-color: lightgray;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            border: none;
            }
        
        .active {
            background-color: dimgray;
            
        }
    }
}
